<!DOCTYPE html>
<html>
<head>
    <title>Přihlášení</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Přihlášení</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="/login">
        <label>E-mail: <input type="email" name="email" required></label><br>
        <label>Heslo: <input type="password" name="password" required></label><br>
        <button type="submit">Přihlásit</button>
    </form>
</body>
</html>